body
{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
form
{
    border: 2px solid blue;
    width: 50%;

    text-align: left;
    margin-left:100px;

    margin-right: 100px;
}

.pragna
{
    margin-left: 100px;
    margin-bottom:50px;
}

.pragna h1
{
    color: brown;
}
.pragna label
{
    color:palevioletred;

}
.pragna button

{
color: red;
}